header {
    background-color: #f8f9fa;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: #333;

    ul li {
        list-style-type: none;
        list-style-position: inside;
        display: inline-block;
        margin-right: 20px;
        padding: 10px;
        border-radius: 4px;
        align-items: center;
        white-space: nowrap;
    }

    a {
        /* Text and Font Styles */
        color: #333;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;

        /* Spacing and Alignment */
        padding: 10px;
        margin: 0 10px;
        line-height: 1.5;

        /* Layout */
        display: inline-block;
        text-align: center;
        vertical-align: middle;

        /* Color and Background */
        background-color: #f8f9fa;
        color: #333;
        border-radius: 4px;
    }

    a:hover {
        color: #007bff;
        background-color: #e9ecef;
    }
}

footer {
    /* Positioning */
    position: fixed;
    bottom: 0;
    left: 0;

    /* Styling */
    display: flex;
    justify-content: center;

    /* Size and Spacing */
    width: 100%;
    padding: 10px;

    /* Color and Background */
    background-color: #f8f9fa;
    color: #333;
}